*

!/.github/
!/config/
!/config/acme/
!/config/certs/
!/config/files/
!/custom/
!/references/

!/.github/FUNDING.yml
!/config/files/middlewares_basic.toml
!/config/files/tls.toml
!/references/info.yml
!/references/traefik.sample.toml

!/.editorconfig
!/.gitattributes
!/.gitignore
!/.markdownlint.yml
!/CODE_OF_CONDUCT.md
!/LICENSE
!/README.md
!/sample..env
!/sample.docker-compose.yml

!.keep
